@model InventarioAzure.Models.DB.Inventario

@{
    ViewData["Title"] = "Delete";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Eliminar Inventario</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Eliminar</h3>
                        </div>
                        
                        <div class="card-body">
                        <p>
                            Estas seguro de eliminar el registro?
                        </p>
                        <div>
                            <h4>Inventario</h4>
                            <hr />
                            <dl class="row">
                                <dt class = "col-sm-2">
                                    @Html.DisplayNameFor(model => model.Entradastock)
                                </dt>
                                <dd class = "col-sm-10">
                                    @Html.DisplayFor(model => model.Entradastock)
                                </dd>
                                <dt class = "col-sm-2">
                                    @Html.DisplayNameFor(model => model.Salidastock)
                                </dt>
                                <dd class = "col-sm-10">
                                    @Html.DisplayFor(model => model.Salidastock)
                                </dd>
                                <dt class = "col-sm-2">
                                    @Html.DisplayNameFor(model => model.Observaciones)
                                </dt>
                                <dd class = "col-sm-10">
                                    @Html.DisplayFor(model => model.Observaciones)
                                </dd>
                                <dt class = "col-sm-2">
                                    @Html.DisplayNameFor(model => model.IdFila)
                                </dt>
                                <dd class = "col-sm-10">
                                    @Html.DisplayFor(model => model.IdFila)
                                </dd>
                                <dt class = "col-sm-2">
                                    @Html.DisplayNameFor(model => model.CodproductoNavigation)
                                </dt>
                                <dd class = "col-sm-10">
                                    @Html.DisplayFor(model => model.CodproductoNavigation.Codproducto)
                                </dd>
                                <dt class = "col-sm-2">
                                    @Html.DisplayNameFor(model => model.IdEstanteNavigation)
                                </dt>
                                <dd class = "col-sm-10">
                                    @Html.DisplayFor(model => model.IdEstanteNavigation.IdEstante)
                                </dd>
                                <dt class = "col-sm-2">
                                    @Html.DisplayNameFor(model => model.IdProveedorNavigation)
                                </dt>
                                <dd class = "col-sm-10">
                                    @Html.DisplayFor(model => model.IdProveedorNavigation.IdProveedor)
                                </dd>
                                <dt class = "col-sm-2">
                                    @Html.DisplayNameFor(model => model.IdSucursalNavigation)
                                </dt>
                                <dd class = "col-sm-10">
                                    @Html.DisplayFor(model => model.IdSucursalNavigation.IdSucursal)
                                </dd>
                                <dt class = "col-sm-2">
                                    @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
                                </dt>
                                <dd class = "col-sm-10">
                                    @Html.DisplayFor(model => model.IdUsuarioNavigation.IdUsuario)
                                </dd>
                            </dl>
    
                            <form asp-action="Delete">
                                <input type="hidden" asp-for="Idregistro" />
                                <input type="submit" value="Delete" class="btn btn-danger" /> |
                                <a asp-action="Index">Back to List</a>
                            </form>
                        </div>
                        </div>
                        </div>
                    <!-- /.card -->


                </div>
                <!--/.col (left) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
