@model InventarioAzure.Models.DB.Inventario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Inventario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Entrada Stock
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Entradastock)
        </dd>
        <dt class = "col-sm-2">
            Salida Stock
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salidastock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observaciones)
        </dd>
        <dt class = "col-sm-2">
            Codigo Producto
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodproductoNavigation.Codproducto)
        </dd>
        <dt class = "col-sm-2">
            Estante
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEstanteNavigation.Nombre)
        </dd>
        <dt class = "col-sm-2">
            Fila
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFilaNavigation.Nombre)
        </dd>
        <dt class = "col-sm-2">
            Proveedor
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProveedorNavigation.Empresa)
        </dd>
        <dt class = "col-sm-2">
            Sucursal
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSucursalNavigation.Nombre)
        </dd>
        <dt class = "col-sm-2">
            Usuario
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioNavigation.Usuario1)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idregistro">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
