@model IEnumerable<InventarioAzure.Models.DB.Inventario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Entradas Stock
            </th>
            <th>
                Salidas Stock
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observaciones)
            </th>
            <th>
                Codigo Producto
            </th>
            <th>
                Estante
            </th>
            <th>
               Fila
            </th>
            <th>
                Proveedor
            </th>
            <th>
                Sucursal
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Entradastock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salidastock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observaciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodproductoNavigation.Codproducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstanteNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdFilaNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProveedorNavigation.Empresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdSucursalNavigation.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idregistro">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idregistro">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idregistro">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
