@model IEnumerable<InventarioAzure.Models.DB.Inventario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Entradastock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salidastock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observaciones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdFila)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodproductoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstanteNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProveedorNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdSucursalNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Entradastock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salidastock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observaciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdFila)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodproductoNavigation.Codproducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstanteNavigation.IdEstante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProveedorNavigation.IdProveedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdSucursalNavigation.IdSucursal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.IdUsuario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idregistro">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idregistro">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idregistro">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
